{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
<title>About Czar</title>
{% endblock %}

{% block navbar-active-page %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home
        <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item-active">
    <a class="nav-link" href="#">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Projects</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Resumé</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="title-page">About </h1>
        </div>
    </div>
</div>
{% endblock %}