{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
<title>Czar's Portfolio</title>
{% endblock %}

{% block navbar-active-page %}
<li class="nav-item active">
    <a class="nav-link" href="#">Home
        <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Projects</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'resume' %}">Resumé</a>
</li>
{% endblock %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">

    <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- posts pagination -->
    {% for post in posts %}
    <div class="card mb-4">
        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.body }}</p>
            <a href="/post/{{ post.id }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ post.timestamp }} by
            <a href="#">{{ post.author }}</a>
        </div>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

</div>
{% endblock %}
